@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600&display=swap');
/*-------------MAINS-----------*/
*{
	margin: 0;
	padding: 0;
		font-family: 'Encode Sans Expanded', sans-serif;
}
html{
	background: #8A3FFC;
}

/*-------------MAINS-----------*/



/*-------------NAV-----------*/


.navbar1 {
  background-color: black;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
  border: 5px solid black;
}

.navbar1 a {
  float: left;
  display: block;
	  color: #8A3FFC;
  text-align: center;
  padding: 14px 45px;
  text-decoration: none;
  font-size: 27px;
}

.navbar1 a:hover {
  background-color: #8A3FFC;
  color: black;
}
.navbar1 a.active {
  background-color: black;
  color: #8A3FFC;
}

/*-------------NAV-----------*/




.✏{
text-align: center;
	color: #8A3FFC;
position: relative;
bottom: 60px;
}
.💉{
	text-align: center;
	color: #8A3FFC;
}
#blob{
width: 60%;
height: 60%;
position: relative;
left: 20%;
}
#logo{
width: 240px;
height: 240px;
x: -7;
y:-24;
}
main{
	background: #8A3FFC;
}
.btn1{
	padding: 10px;
	background: #8A3FFC;
	border: 2px solid purple;
	border-radius: 9px;
	position: relative;
	left: 22%;
	bottom: 70px;
	color: black;
}
.main1{
	background: black;
	clip-path: polygon(100%  0%, 100%  60%, 50%  115%, 0%  60%, 0% 0%);
}
.main2{
	margin: 5px 5%;
}
.✒{	
	text-align: center;
	color: black;
margin-top: 10px;

}
.progress__bar{

}
.progress_line{
	border: 3px solid black;
	color: black;
	border-radius: 7px;
}
.html{
	width: 95%;
	background: blue;
	padding: 0px 20%;
}
.css{
	width: 80%;
	background: blue;
	padding: 0px 20%;
}
.js{
	width: 60%;
	background: blue;
	padding: 0px 20%;
}
.node{
	width: 75%;
	background: blue;
	padding: 0px 20%;
}
.php{
	width: 60%;
	background: blue;
	padding: 0px 20%;
}
.py{
	width: 35%;
	background: blue;
	padding: 0px 20%;
}
.EL{
	width: 65%;
	background: blue;
	padding: 0px 20%;
}
.catagories{
	margin: 10px 0px;
}
.main3{
	background: #273036;
}
.card1{
	border: 5px solid #8A3FFC;
	color:  #8A3FFC;
height: 13rem;
}
.services{
	margin: 10px;
	display: grid;
	gap: 1.5rem;
grid-template-columns: repeat(2, 1fr);
margin-left: 25px;
}
.c-text{
	text-align: center;
}
.main4{
	background: #273036;
	padiing: 20px 0px;
	
}
.btn2{
	padding: 10px;
	background: #8A3FFC;
	border: 2px solid purple;
	border-radius: 9px;
	color: black;
	margin-left: 37%;
	display: block;
}
.black--bg{
	background: #273036;
}
.logo{
width: 25%;
height: 25%;
border: 4px solid #8A3FFC;
border-radius: 50%;
margin-left: 37%;
}
footer{
	padding: 15% 0%;
	background: #8A3FFC;
	color: black;
	text-align: center;
	padding-top: 5%;
}
@media only screen and (max-width: 480px) {
  .navbar1 a {
  padding: 14px 25px;
  font-size: 23px;
}
.btn1{
	padding: 7px;
	position: relative;
	left: 18%;
}
}
@media only screen and (max-width: 768px) {
  
}
@media only screen and (max-width: 1024px) {
  
}
