@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
/*-------------MAINS-----------*/
*{
	margin: 0;
	padding: 0;
		font-family: 'Passion One', sans-serif;
		    box-sizing: border-box;
}
html{
	background: #8A3FFC;
}

/*-------------MAINS-----------*/



/*-------------NAV-----------*/
.topnav {
  background-color: #333;
  overflow: hidden;
  border: 2px solid #333;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #8A3FFC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #8A3FFC;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #8A3FFC;
  color: #333;
  float: left;
}


.topnav .icon {
  display: none;
  padding: 9px;
}
/*-------------NAV-----------*/


/*-------------Main-----------*/

.header_logo{
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 4px solid black;
}
.header_text{
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
.header{
  padding-top: 20px;
}
.header_button{
	padding: 10px;
	background: black;
	border: 4px solid rgb(69,0,173);
	border-radius: 9px;
	color: #8A3FFC;
		position: relative;
		top: 5px;
}
.btn1{
	padding: 10px;
	background: #8A3FFC;
	border: 2px solid purple;
	border-radius: 9px;
  margin-left: 27%;
	color: black;
		position: relative;
	bottom: 55px;
}

.main2{
	margin: 5px 5%;
}
.✒{	
	text-align: center;
	color: black;
margin-top: 10px;
}
.💉{
  	color: #8A3FFC;
padding: 15px 0;
}
.progress__bar{}
.progress_line{
	border: 3px solid black;
	color: black;
	border-radius: 7px;
}
.html{
	width: 95%;
	background: blue;
	padding: 0px 20%;
}
.css{
	width: 80%;
	background: blue;
	padding: 0px 20%;
}
.js{
	width: 60%;
	background: blue;
	padding: 0px 20%;
}
.node{
	width: 75%;
	background: blue;
	padding: 0px 20%;
}
.php{
	width: 60%;
	background: blue;
	padding: 0px 20%;
}
.py{
	width: 35%;
	background: blue;
	padding: 0px 20%;
}
.EL{
	width: 65%;
	background: blue;
	padding: 0px 20%;
}
.catagories{
	margin: 10px 0px;
}
.catagories i{
  margin-top: 2p;
}
.main3{
	background: #273036;
}
.card1{
	border: 5px solid #8A3FFC;
	color:  #8A3FFC;
height: 11rem;
width:16rem;
display: inline-block;
margin: 0 auto;
}
.services{
	margin: 10px auto;
	display: grid;
	gap: 1.5rem;
grid-template-columns: repeat(2, 1fr);


}
.c-text{
	text-align: center;
}
.main4{
	background: #273036;
	margin-top: 15px;
}
#title{
  padding: 15px;
  font-size: 170%;
}
.btn2{
	padding: 10px;
	background: #8A3FFC;
	border: 2px solid purple;
	border-radius: 9px;
	color: black;
	margin: 2px;
}
.black--bg{
  margin-top: -1.5%;
	background: #273036;
}
.logo{
width: 25%;
height: 25%;
border: 4px solid #8A3FFC;
border-radius: 50%;
}
.container{
width: 400px;
margin: auto;
border-radius: 4px;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
background: #8A3FFC;
}
.img-container img{
width: 100%;
height: 100%;
border-radius: 4px 4px 0px 0px;
}
.content-container{
padding: 10px 20px;
}
.blogtil{
font-size: 24px;
}
.blogtxt{
color: black;
font-weight: 700;
font-size: 17px;
letter-spacing: 0.02rem;
line-height: 1.3rem;
margin-bottom: 30px;
}
.btn{
background: #000000;
color: #8A3FFC;
font-size: 12px;
padding: 10px 20px;
letter-spacing: 0.04rem;
text-transform: uppercase;
text-decoration: none;
font-weight: 700;
}
.btn:hover{
background: #7C66FF;
}
input{
  width: 70%;
  border: 3px solid #8A3FFC;
  margin: 10px 0;
  padding: 7px 30px;
  border-radius: 10px;
}
placeholder{
  text-align: center;
}

/*-------------MAINS-----------*/

/*-------------FOOTER-----------*/
footer{
	padding: 10% 0%;
	background: #8A3FFC;
	color: black;
	text-align: center;
	padding-top: 5%;
}
/*-------------FOOTER-----------*/

/*-------------RESPONSIVE-----------*/
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
.services{
	margin: 10px;
	display: grid;
grid-template-columns: repeat(1, 1fr);
}
.black--bg{
  margin-top: -3%;
}
}
@media screen and (max-width: 375px) {
  .black--bg{
  margin-top: -4%;
}
}
/*-------------RESPONSIVE-----------*/