@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600&display=swap');
/*-------------MAINS-----------*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Encode Sans Expanded', sans-serif;
	box-sizing: border-box;
}
html{
	background: #8A3FFC;
}

/*-------------MAINS-----------*/



/*-------------NAV-----------*/
nav {
    background: #333;
    color: #8A3FFC;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #8A3FFC;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover {
    background: rgb(255,94,0);
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: block;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

nav .nav__logo {
    margin: 12px;
    font-size: 35px;
    cursor: pointer;
}
@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

/*-------------NAV-----------*/

.header_logo{
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 4px solid black;
}
.header_text{
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
.header{
  padding-top: 20px;
}
.header_button{
	padding: 10px;
	background: black;
	border: 4px solid rgb(69,0,173);
	border-radius: 9px;
	color: #8A3FFC;
		position: relative;
		top: 5px;
}
.main2{
	margin: 5px 5%;
}
.✒{	
  font-size: 30px;
  padding: 15px;
	text-align: center;
	color: black;
}

.progress__bar{}

.progress_line{
	border: 3px solid black;
	color: black;
	border-radius: 7px;
}
.html{
	width: 95%;
	background: blue;
	padding: 0px 20%;
}
.css{
	width: 80%;
	background: blue;
	padding: 0px 20%;
}
.js{
	width: 60%;
	background: blue;
	padding: 0px 20%;
}
.node{
	width: 75%;
	background: blue;
	padding: 0px 20%;
}
.php{
	width: 60%;
	background: blue;
	padding: 0px 20%;
}
.py{
	width: 35%;
	background: blue;
	padding: 0px 20%;
}
.EL{
	width: 65%;
	background: blue;
	padding: 0px 20%;
}
.catagories{
	margin: 10px 0px;
}
.main3{
	background: #273036;
}
.card1{
	border: 5px solid #8A3FFC;
	color:  #8A3FFC;
height: 13rem;
}
.services{
	margin: 10px;
	display: grid;
	gap: 1.5rem;
grid-template-columns: repeat(2, 1fr);
margin-left: 25px;
}
.c-text{
	text-align: center;
}
.tt{
    font-size: 30px;
  padding: 15px;
	text-align: center;
	color: #8A3FFC;
}